
.Wall

    &-wall
        cursor pointer

    &-poly
        fill #d6d6d6

    &-line
        stroke #534741
        stroke-width 1px
        stroke-dasharray 12px, 6px
        opacity 0
        transition opacity 0.15s ease-in-out

    &-object
        stroke #333
        fill #fff
        cursor pointer
        transition fill 0.15s ease-in-out
        &:hover
            fill #eaeaea

    &-wall:hover &-line
        opacity 1

    &--active &-poly
        fill #534741
