@require '../variables.styl'
@require '../mixins.styl'

.CollectionSurface
    clearfix()
    min-height 284px

    &-collection
        float left
        width 30%
        min-width 250px
        max-width 400px
        margin-left 0
        margin-right 0

        @media (max-width: 1100px)
            h2
                font-size 18px

        //@media (max-width: 1100px)
        //    h2
        //        font-size 17px

        @media (max-width: 1000px)
            h2
                font-size 16px

    &-options
        position relative
        padding-left 36px
        overflow hidden
        &:after
            content ' '
            position absolute
            left 0
            top 0
            right 0
            height 0
            background rgba(255, 255, 255, .9)
            opacity 0
            visibility hidden
            transition: visibility 0s linear 0.2s, height 0s linear 0.2s, opacity 0.2s ease;

        &--disabled
            &:after
                height 100%
                opacity 1
                visibility visible
                transition-delay 0s

    &-preview
        position relative
        margin-top 20px
        padding 0 30px 0 0

    &-cross
        position absolute
        top -10px
        right 0
        width 30px
        text-align center
        line-height 30px
        font-size 24px
        cursor pointer
        color light-blue
        transition color .2s ease

        &:hover
            color normal-blue

        &:after
            content '×'
