@require '../variables.styl'

.Input
    display inline-block
    color #545454
    white-space nowrap

    &-label
        display block
        margin-bottom 4px
        padding 0 2px
        font-size 14px

    &-input
        box-sizing border-box
        background #fefefe
        border 1px solid input-border-color
        border-radius input-border-radius
        padding 5px 8px
        outline none
        transition border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out

        &:hover
            box-shadow input-hover-shadow

        &:focus
            border-color input-border-focus-color
            box-shadow input-focus-shadow

    &-unit
        margin-left 6px

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button
        -webkit-appearance none
        margin 0

    input[type=number]
        -moz-appearance textfield

    &--error &-input
        border-color error-color
        box-shadow 0 0 1px 1px error-color

    &--block
        display: block;

    &--block &-input
        width 100%
