@require '../variables.styl'

.WallObjectIconWrapper
    display inline-block
    vertical-align top
    min-width 125px
    width 50%
    text-align center
    margin-bottom 12px


.WallObjectIcon
    position relative
    display inline-block
    max-width 160px
    cursor pointer

    &-label
        display block
        color link-color
        text-align center
        margin-bottom 4px

    &-img
        display inline-block
        position relative
        height 90px
        cursor pointer

        img
            max-width 100%
            max-height 100%

        &:after
            content ''
            position absolute
            left 0
            top 0
            width 100%
            height 100%
            background #fff
            opacity .25
            transition opacity .15s ease-in-out

    &:hover &-img:after
        opacity 0
