@require '../variables.styl'

.Button
    display block
    white-space nowrap

    &--inline
        vertical-align middle
        display inline-block
        width auto
        &+&
            margin-left 24px

    &-btn
        display block
        text-align left
        height 42px
        line-height 42px
        padding 0 16px
        background button-default-color
        color #545454
        border-radius 5px
        border 0
        font-size 12px
        cursor pointer
        transition background 0.2s ease-in-out, shadow 0.2s ease-in-out;
        outline none
        white-space nowrap

        &:hover
            background darken(button-default-color, 5)
            box-shadow input-hover-shadow

        &:active
            background darken(button-default-color, 10)
            box-shadow none

    &--withTooltip &-btn
        margin-right 20px

    &-tooltip
        float right
        padding-top 12px

    &-icon
        display inline-block
        width 32px
        height 32px
        vertical-align middle
        background url(./icons.png) 32px 32px no-repeat
        margin-right 8px

        &--newPoint
            background-position 0 0

        &--delete
            background-position -96px 0
            margin-left -8px

        &--rotate
            background-position -32px 0

        &--flip
            background-position -64px 0

        &--apply
            background-position -128px 0
            margin-left -8px

    &--primary &-btn
        color #fff
        background button-primary-color

        &:hover
            background darken(button-primary-color, 5)

        &:active
            background darken(button-primary-color, 10)

    &--cancel &-btn
        color red
        background transparent
