.WallObject
    stroke #666
    stroke-width 1px
    fill #fff
    cursor pointer
    opacity .5

    transition opacity 0.2s ease-in-out

    &:hover
        opacity .75

    &--active
        opacity 1
        &:hover
            opacity 1
