@require '../variables.styl'

.CollectionSelect

    &-check
        margin-bottom 12px
        label
            font-size 16px
        input
            vertical-align middle
            margin-right 6px

    &-title
        position relative
        top 1px

    &-select
        margin 16px 0

    &-optionFlag
        display inline-block
        vertical-align middle
        width 14px
        height 9px
        margin-right 4px

    &-optionType
        position relative
        float right
        color #999
        font-size 10px
        line-height 18px
        padding-left 18px
        .Select-value &
            background #fff
            background linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,1) 18px, rgba(255,255,255,1) 100%)
        .Select.is-disabled .Select-value &
            background #f6f6f6
            background linear-gradient(to tight, rgba(246, 246, 246, 0) 0, rgba(246, 246, 246, 1) 18px, rgba(246, 246, 246, 1) 100%)


@import '../../../node_modules/react-select/dist/react-select.css'

.Select
    transition opacity 0.2s ease

    &.is-disabled
        opacity .4

    &-control
        border-color input-border-color
        border-radius input-border-radius

        .is-open > &
            border-color darken(input-border-color, 10%)

        .is-focused:not(.is-open) > &
            border-color input-focus-border-color
            box-shadow: input-focus-shadow

    &-option
        &.is-focused
            background-color rgba(152, 198, 249, 0.2);

    &-value
        padding-right 28px
