@require '../variables.styl'

.WallLength
    font-size 16px
    text-anchor middle
    fill link-color
    text-decoration underline
    cursor pointer
    &:hover
        text-decoration none
    &--sm
        font-size 11px
    &--xs
        font-size 8px
