@require '../variables.styl'

html
    position relative
    width 100%
    height 100%
    overflow hidden
    font normal normal 13px/1.2 'Trebuchet MS', Arial, Tahoma, Verdana, sans-serif
    background #fff
    color #333
    min-width 760px
    user-select none

body
    position relative
    width 100%
    height 100%


.browserupgrade
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0

a
    color link-color
    text-decoration underline
    &:hover
        text-decoration none

h1
    font-size 24px
    font-weight normal
    margin 16px 0

h2
    font-size 20px
    font-weight normal
    margin 16px 0


h3
    font-size 16px
    font-weight normal
    margin 12px 0

.Steps
    position absolute
    z-index 50
    left 0
    background #fff
    top header-height
    height 32px
    right 0
    white-space nowrap
    box-shadow 0 0 2px rgba(0,0,0,0.3)
    list-style none
    margin 0
    padding 0
    counter-reset steps
    cursor default

    &-step
        position relative
        display inline-block
        width 25%
        text-align center
        line-height 32px
        margin 0
        padding 0
        counter-increment steps

        &:after
            content ' '
            position absolute
            display none
            left -8px
            top 0
            border-top 16px solid active-step-color
            border-left 16px solid #fff
            border-bottom 16px solid active-step-color

        &--clickable
            color link-color
            text-decoration underline
            cursor pointer
            &:hover
                text-decoration none

        &--active
            background active-step-color
            color #fff
            &:after
                display block
            &:first-child:after
                display none

        &--active+&
            &:after
                display block
                border-top-color #fff
                border-left-color active-step-color
                border-bottom-color #fff


        &:before
            display none
            content 'Шаг  ' counter(steps) '. '
        @media (min-width: 860px)
            &:before
                display inline

.View
    position absolute
    left 0
    top header-height
    right 0
    bottom 0
    overflow: auto
    box-shadow 0 0 2px rgba(0,0,0,0.3)
    &--withSteps
        top header-height + 32px


editorCenterMixin()
    left 240px
    right 0
    @media (min-width: 1200px)
        left 20%

    @media (min-width: 1700px)
        left 340px!important


.Editor
    &-palette
        position absolute
        z-index 3
        background #fff
        top 0
        left 0
        width 240px
        bottom 0
        box-shadow 0 0 2px rgba(0, 0, 0, 0.3)
        overflow auto

        @media (min-width: 1200px)
            width 20%
            max-width 340px

    &-editor
        position absolute
        z-index 1
        top 0
        bottom footer-height
        editorCenterMixin()

    &-section
        margin 16px

    &-actionsBar, & &-actionsBar
        editorCenterMixin()

.Palette
    &-section
        margin 16px

    &-header
        font-size 14px
        font-weight bold
        margin 24px 16px 16px 16px
        &:first-child
            margin-top 16px

.Popup
    position absolute
    z-index 9999;
    background #fff
    padding 16px 20px
    border-radius 6px
    box-shadow popup-shadow

    &-close
        position absolute
        right 6px
        top 10px
        color #333
        font bold
        font-size 24px
        line-height 1px
        cursor pointer

.ActionsBar
    position absolute
    box-sizing border-box
    z-index 2
    left 0
    right 0
    bottom 0
    height footer-height
    background #fff
    box-shadow 0 0 2px rgba(0, 0, 0, 0.3)
    padding ((footer-height - 42px)/2) 0
    text-align center
    line-height 42px

