@require '../variables.styl'

.CollectionSurfaceOptions
    counter-reset surface-options

    &-titleHint
        font-size 14px
        margin-left 12px
        &:before
            content '(коллекция '
        &:after
            content ')'

    &-section
        counter-increment surface-options
        margin-bottom 16px
        margin-left 42px

        h3
            &:before
                size = 32px
                position relative
                left -42px
                content counter(surface-options)
                display inline-block
                width size
                margin-right (- size)
                line-height size
                vertical-align baseline
                text-align center
                border-radius (size/2)
                color #fff
                background active-step-color


    &-check
        display inline-block
        vertical-align baseline
        margin-bottom 8px
        white-space nowrap

        input
            vertical-align middle
            margin-right 6px

        &--joint
            width 33%
            @media (min-width: 1100px)
                width 16%
                max-width 140px

        &--direction
            width 60%
            @media (min-width: 940px)
                width 48%
                max-width 420px


    &-directionIcon
        display inline-block
        vertical-align middle
        width 24px
        height 24px
        margin-right 6px
        background url(directions.png) 24px 24px no-repeat

        &--HORIZONTAL
            background-position 0 0

        &--VERTICAL
            background-position -24px 0

        &--SQUARE
            background-position 0 -24px

        &--DIAGONAL
            background-position -24px -24px
