
.Point
    cursor pointer
    opacity .45
    transition opacity .15s ease-in-out
    filter url(#pointShadow)

    &-base
        fill url(#pointGradient)
        stroke #3d78b1
        stroke-width 1px
    &-ring
        fill transparent
        stroke #fff
        stroke-width 1px

    &:hover
        opacity .75
