@require '../variables.styl'
@require '../../assets/catalog.css'

header-block()
    position relative
    display inline-block
    vertical-align middle

.Header
    position absolute
    z-index 100
    left 0
    top 0
    right 0
    height header-height

    &-logo
        header-block()
        margin 0 20px 0 50px
        width 65px
        height 100%
        background url(img/logo.png) center center no-repeat
        background-size contain
    &-catalog
        header-block()
        margin 8px 20px 0 0

    &-phone
        header-block()
        font-size 18px
        line-height 15px

        &:before
            display block
            content 'Многоканальный телефон'
            font-size 10px
            color #777
