header-height = 52px

footer-height = 64px

popup-shadow = 0 0 10px rgba(0, 0, 0, .2)

tooltip-shadow = 1px 1px 3px 1px rgba(0, 0, 0, .15)

light-blue = #7bade2

normal-blue = #3a6ca4

link-color = normal-blue

error-color = #f8878c

active-step-color = #98c6f9

input-border-color = #d6d6d6
input-border-focus-color = #98c6f9
input-border-radius = 5px
input-hover-shadow = 0 1px 0 rgba(0, 0, 0, 0.06)
input-focus-shadow = 0 0 1px 1px #98c6f9

button-default-color = #f1f1f1
button-primary-color = #5ba05f
button-info-color = #349ddf
