.WallObjectResizer
    stroke #666
    stroke-width 1px
    fill #fff
    cursor pointer
    opacity .3

    transition opacity 0.2s ease-in-out, stroke 0.2s ease-in-out, stroke-width 0.2s ease-in-out

    &:hover
        opacity .75

    &--active
        stroke-width 2px
        stroke #3c6ba2
        opacity 1
        &:hover
            opacity 1

    &--error
        stroke #f8878c
