.TooltipPoint
    position relative
    display inline-block
    vertical-align middle
    left 2px
    width 10px
    height 10px
    border-radius 6px
    background #f1f1f1
    border 1px solid #d3d3d3
    cursor pointer
    background url(img/q.png) 50% 50% no-repeat

