.CollectionSelector

    &-surfaces
        position absolute
        left 0
        top 0
        right 0
        bottom 64px
        padding 0 12px 0 50px
        overflow auto

    &-actionsBar


    &-loading
        padding 32px 0
        text-align center

    &-surface
        position relative
        &:first-child
            margin-top 16px
