<a class="fixed-catalog-btn">
    <div>Каталог товаров<i class="icon-arrow-down-white"></i></div>
</a>
<ul class="fixed-cat-menu">
    <li class="first">
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/plitka-dlya-vannoj">Плитка для ванной
        </a>

    </li>
    <li>
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/plitka-dlya-kuxni">Плитка для кухни
        </a>

    </li>
    <li class="has-child">
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/mozaika">Мозаика
            <i class="icon-arrow-down-white"></i> </a>
        <ul class="submenu">
            <li class="first">
                <a target="_blank" href="http://bestceramic.ru/material/metallicheskaya-mozaika" class="outside">Металлическая
                    мозаика</a>

            </li>
            <li>
                <a target="_blank" href="http://bestceramic.ru/material/kamennaya-mozaika" class="outside">Каменная мозаика</a>

            </li>
            <li>
                <a target="_blank" href="http://bestceramic.ru/material/keramicheskaya-mozaika" class="outside">Керамическая мозаика</a>

            </li>
            <li class="last">
                <a target="_blank" href="http://bestceramic.ru/material/steklyannaya-mozaika" class="outside">Стеклянная мозаика</a>

            </li>
        </ul>
    </li>
    <li>
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/oblicovochnaya-plitka">Облицовочная плитка
        </a>

    </li>
    <li>
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/keramogranit">Керамогранит
        </a>

    </li>
    <li>
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/stupeni">Ступени
        </a>

    </li>
    <li>
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/oboi">Обои
        </a>

    </li>
    <li class="last">
        <span class="border"></span>
        <a target="_blank" href="http://bestceramic.ru/catalog/zatirka">Затирка
        </a>

    </li>

</ul>
