
.Guide
    fill none
    stroke #65cc6b
    stroke-opacity 0
    stroke-dasharray 2px, 3px
    stroke-width 2px
    transition stroke-opacity .2s ease-in-out

    &--visible
        stroke-opacity 1
