@require '../variables.styl'

.CollectionPreview
    position relative
    &-img
        width 100%
        height 130px
        background-color #fff
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        box-shadow 0 1px 2px rgba(0, 0, 0, 0.4)

    &-props
        overflow hidden
        margin 16px 0 0

    &-prop
        float left
        clear left
        color light-blue
        width 80px
        &:after
            content ':'

    &-val
        margin 0 0 10px 80px
        //white-space nowrap

        &:after
            content: ' '

        &--strong
            font-weight bold

    &-flag
        display inline-block
        width 14px
        height 9px
        vertical-align middle
        margin-left 8px
