@require '../variables.styl'

.Tooltip
    position absolute
    z-index 100000
    margin 0 0 28px -26px
    max-width 200px
    padding 10px 12px
    font-size 11px
    color #424242
    line-height 16px
    background #fff
    opacity 0
    transition opacity 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
    box-shadow tooltip-shadow
    border-radius 2px
    word-wrap break-word

    &:before, &:after
        position absolute
        content  ' '
        bottom -6px
        left 20px
        width 0
        height 0
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-top 6px solid rgba(0,0,0,.1)

    &:after
        bottom -5px
        border-top-color #fff

    &--visible
        margin-bottom 10px
        opacity 1
