
.RoomShape
    position relative
    display inline-block

    &--clickable
        cursor pointer

    &-walls
        fill transparent
        stroke-width 3px
        shape-rendering crispEdges
        stroke #ccc
        transition stroke .15s ease-in-out, fill .15s ease-in-out;

    &:hover &-walls
        stroke #999
        fill #fafafa
